Exercicio01/bin/Debug/net5.0/Exercicio01.deps.json
Exercicio01/bin/Debug/net5.0/Exercicio01.dll
Exercicio01/bin/Debug/net5.0/Exercicio01.exe
Exercicio01/bin/Debug/net5.0/Exercicio01.pdb
Exercicio01/bin/Debug/net5.0/Exercicio01.runtimeconfig.dev.json
Exercicio01/bin/Debug/net5.0/Exercicio01.runtimeconfig.json
Exercicio01/bin/Debug/net5.0/ref/Exercicio01.dll
